<a href="https://colab.research.google.com/github/Chonapatcc/Basic-programming/blob/main/Lab03Asm_6510110085.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A1. Scores

In [1]:
sc = [float(x) for x in input("Input all scores: ").split()];print(f"Number of students = {len(sc)}\nMin score = {min(sc)}\nMax score = {max(sc)}\nAverage = {sum(sc)/len(sc)}")

Input all scores: 7 6.8 8.5 9.2 8
Number of students = 5
Min score = 6.8
Max score = 9.2
Average = 7.9

A2. Student Information

In [2]:
i,f,l = input("Enter your code and name: ").split();print(f"Your name is {f} {l}.\nYou are a student year {64-int(i[:2])+1}.")

Enter your code and name: 6210110800 Jack Sparrow
Your name is Jack Sparrow.
You are a student year 3.

A3. Count distinct letters

In [3]:
s1=set(input("Input a string: "))-{" "};print(f"Count distinct letters = {len(s1)}")

Input a string: apples banana oranges
Count distinct letters = 10

A4. Series_A

In [4]:
n=int(input("n = "));lst=[x for x in range(1,1000+1) if x%n==0];print(f"count = {len(lst)}\nlast = {lst[-1]}\n{lst}")

n = 13
count = 76
last = 988
[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195, 208, 221, 234, 247, 260, 273, 286, 299, 312, 325, 338, 351, 364, 377, 390, 403, 416, 429, 442, 455, 468, 481, 494, 507, 520, 533, 546, 559, 572, 585, 598, 611, 624, 637, 650, 663, 676, 689, 702, 715, 728, 741, 754, 767, 780, 793, 806, 819, 832, 845, 858, 871, 884, 897, 910, 923, 936, 949, 962, 975, 988]

A5. Series_B

In [5]:
n=int(input("n = "));lst=[x for x in range(7,n+1) if x%7==0];print(f"count = {len(lst)}\nlast = {lst[-1]}\n{lst}")

n = 130
count = 18
last = 126
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126]