<a href="https://colab.research.google.com/github/Chonapatcc/Basic-programming/blob/main/Lab03Ex_6510110085.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1.

In [ ]:
s=input("Enter your string: ");l=len(s);print(l,s[0],s[-1])

Enter your string: Hello World!
12 H !

Ex 2.

In [ ]:
s=input("Enter your string: ");l=len(s);print(l,l//2,f"'{s[l//2]}'")

Enter your string: Hello New World
15 7 'e'

Ex 3

In [ ]:
i,f,l=input("Enter your information: ").split();print(i,f,l);print(i,f.lower(),l.lower());print(i,f.upper(),l.upper())

Enter your information: 6410110800 Myname Mysurname
6410110800 Myname Mysurname
6410110800 myname mysurname
6410110800 MYNAME MYSURNAME

Ex 4

In [ ]:
i=input;lst=i("Enter words: ").split();print(len(lst),f"'{lst[0]}'",f"'{lst[-1]}'")

Enter words: Zero One Two Three Four Five
6 'Zero' 'Five'

Ex 5

In [ ]:
n=int(input("n = "));lst=list(range(1,n));print(lst);print(f"Summation = {sum(lst)}")

n = 5
[1, 2, 3, 4]
Summation = 10

Ex 6.

In [ ]:
s=input("Enter a string: ");s=tuple(s);print(s,"\n",len(s),f"'{max(s)}'",f"'{min(s)}'")

Enter a string: Python3.81
('P', 'y', 't', 'h', 'o', 'n', '3', '.', '8', '1')
 10 'y' '.'

Ex 6 ver chinese

In [ ]:
exec(bytes("㵳湩異⡴䔢瑮牥愠猠牴湩㩧∠㬩㵳畴汰⡥⥳瀻楲瑮猨㬩瀠楲瑮氨湥猨Ⱙ≦笧慭⡸⥳❽Ⱒ≦笧業⡮⥳❽⤢", 'u16')[2:])

Enter a string: Python3.81
('P', 'y', 't', 'h', 'o', 'n', '3', '.', '8', '1')
10 'y' '.'

Ex 7

In [ ]:
f,l,y=input("Enter your name and birth year: ").split();print(f"Your name is {f} {l}.");print(f"You are born in {y}.")

Enter your name and birth year: Jack Sparrow 2001
Your name is Jack Sparrow.
You are born in 2001.

Ex 8

In [ ]:
i=input;nlst=[int(x) for x in i("Input 10 integers: ").split()];print(nlst);print([(nlst[int(x)], nlst[int(x)+1]) for x in range(0, len(nlst), 2)])

Input 10 integers: 6 2 10 1 10 8 9 7 6 5
[6, 2, 10, 1, 10, 8, 9, 7, 6, 5]
[(6, 2), (10, 1), (10, 8), (9, 7), (6, 5)]

Ex 9.

In [ ]:
i=input;nlst=[float(x) for x in i("Input 6 numbers: ").split()];print(nlst);print({(nlst[int(x)], nlst[int(x)+1], nlst[int(x)+2]) for x in range(0, len(nlst), 3)})

Input 6 numbers: 1.0 2.0 3.8 4.2 5.25 6.5
[1.0, 2.0, 3.8, 4.2, 5.25, 6.5]
{(4.2, 5.25, 6.5), (1.0, 2.0, 3.8)}

Ex 10.

In [ ]:
a,b=[int(x) for x in input("Enter a and b: ").split()];print(list(range(a,b+1)))

Enter a and b: 2 15
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]